<footer>
    <div>
        <div class="orange"></div>
    </div>
    <div id="social">
        <a href="https://www.facebook.com/recruta.fit"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/recruta__"><i class="bi bi-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=351933968975"><i class="bi bi-whatsapp"></i></a>
    </div>
    <br>
    <div id="nav">
        <a href="/">Home</a>
        <a href="/sobre">Sobre Nós</a>
        <a href="/inscricoes">Inscrições</a>
        <a href="">Contactos</a>
    </div>
    <br>
    <div id="copy-rights">
        <span>&copy; 2021 Recruta</span>
    </div>
    <div id="final">
        <small>Powered by TecSide</small>
        <div class="orange"></div>
    </div>
</footer>