
#background-1 {
  background-image: url("/assets/home/first.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 790px;

  #background-2 {
    background-color: rgba(10, 23, 55, 0.5);
    height: 790px;
  }

  #bottom-1 {
    span {
      font-size: 20px;
      color: white;
      margin-left: 40%;
    }

    h4 {
      margin-left: 2%;
      color: #ff7d00;
    }
  }
}

#section-1 {
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    margin-left: 15%;
    color: #ff7d00;
    font-weight: 200;
    font-size: 70px;
  }

  p {
    color: white;
    font-size: 30px;
    margin-left: 45%;
    margin-right: 10%;
  }
}

#section-2 {
  background-color: black;
  text-align: center;

  .border-circle {
    display: flex;
    justify-content: center;
    border: none;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }

  h2 {
    text-align: center;
    color: #ff7d00;
  }

  div {
    img {
      margin-right: 5%;
      margin-left: 5%;
      border-radius: 100%;
    }
  }

  p {
    color: white;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 50px;
  }

  button {
    background-color: transparent;
    border: solid #ff7d00 1px;
    color: #ff7d00;
    padding: 10px 40px;
  }

  button:hover {
    background-color: #ff7d00;
    color: white;
    cursor: pointer;
  }

  #linha {
    display: block;
  }

  #linha-mobile {
    display: none;
  }
}

#section-3-mobile {
  display: none;
  background-image: url("/assets/home/mid.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  #section-3-mobile-inner {
    background-color: #fff;
    text-align: center;
    display: flex;

    p {
      font-size: 20px;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 40px;
      color: #ff7d00;
    }
  }
}

#section-3 {
  background-color: #f7f7f7;
  display: flex;
  #mid {
    background-image: url("/assets/home/mid.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 50%;
  }

  #mid-text {
    width: 45%;
    text-align: center;

    h2 {
      color: #ff7d00;
      font-size: 40px;
    }

    #folhas {
      display: flex;
      align-items: flex-end;

      img {
        height: 80px;
        margin-left: 20%;
      }

      h3 {
        img {
          height: 40px;
          margin-left: 0%;
        }
      }
    }

    h3 {
      img {
        width: 30px;
        height: 30px;
      }
    }

    h3,
    p {
      text-align: left;
      margin-left: 10%;
    }

    p {
      font-size: 20px;
      line-height: 50px;
    }

    button {
      background-color: transparent;
      border: solid #ff7d00 1px;
      color: #ff7d00;
      padding: 10px 40px;
    }

    button:hover {
      background-color: #ff7d00;
      color: white;
      cursor: pointer;
    }
  }
}

#section-4 {
  background-color: #fdc48f;

  .space-br {
    display: none;
  }

  h2 {
    color: #ff7d00;
    font-weight: bold;
    text-align: center;
  }

  p {
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    margin: 0px 15%;
  }

  button {
    color: white;
    font-size: 40px;
    background-color: transparent;
    border: none;
    outline: none;

    i {
      font-size: 80px;
    }
  }

  #left {
    padding-left: 100px;
  }

  #right {
    padding-right: 100px;
  }
}

#section-5 {
  text-align: center;
  h2 {
    text-align: center;
    color: #ff7d00;
  }
}

#section-6 {
  background-color: black;
  text-align: center;

  img {
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

#section-7 {
  background-image: url("../../../assets/home/section-7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  h2 {
    text-align: center;
    color: #ff7d00;
  }

  #linha-folha {
    display: flex;
  }

  #linha {
    margin-left: 50%;
  }

  #folhas {
    margin-left: 35%;
    width: 100px;
    height: 100px;
  }

  #form {
    input {
      height: 50px;
    }
    input,
    textarea {
      width: 40%;
      background-color: #ff7d00;
      border: none;
      color: white;
    }

    ::-webkit-input-placeholder {
      color: white;
      font-size: 20px;
    }

    :-moz-placeholder {
      color: white;
      font-size: 20px;
    }

    ::-moz-placeholder {
      color: white;
      font-size: 20px;
    }

    :-ms-input-placeholder {
      color: white;
      font-size: 20px;
    }

    button {
      color: white;
      font-size: 30px;
      width: 200px;
      background-color: #ff7d00;
      border: none;
      font-weight: 100;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1000px) {
  #background-1 {
    height: 850px;

    #background-2 {
      height: 850px;
    }

    #bottom-1 {
      h4 {
        text-align: center;
      }

      span {
        margin: 0px;
        padding-left: 50px;
      }
    }
  }

  #section-1 {
    height: 810px;

    h2 {
      margin-left: 0;
      text-align: center;
      font-size: 35px;
      padding-bottom: 20px;
    }

    p {
      font-size: 20px;
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
      line-height: 50px;
    }
  }

  #section-2 {
    #linha-sobre {
      display: none;
    }
    #linha-mobile {
      display: block;
    }

    .border-circle {
      display: block;

      .circle {
        margin-right: 0;
        margin-left: 0;
        width: 70%;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    p {
      margin-left: 15%;
      margin-right: 15%;
      line-height: 50px;
    }
  }

  #section-4 {
    p {
      font-size: 20px;
      line-height: 40px;
      margin: 10px;
    }

    #left {
      padding-left: 5px;
    }

    #right {
      padding-right: 5px;
    }

    button {
      i {
        font-size: 50px;
      }
    }

    .space-br {
      display: block;
    }
  }

  #section-5 {
    img {
      padding-top: 10px;
      width: 200px;
    }
  }

  #section-6 {
    img {
      width: 300px;
    }
  }
}

@media (max-width: 1250px) {
  #section-3 {
    display: none;
  }

  #section-3-mobile {
    display: block;
  }

  #folhas {
    display: none;
  }
  #section-7 {
    #form {
      input,
      textarea {
        width: 90%;
      }
    }
  }
}

@media (max-width: 1500px) {
  #section-6 {
    img {
      padding-top: 10px;
    }
  }
}
