<app-nav></app-nav>
<section id="section-1">
    <div id="dark-background">
        <div id="somos">
            <h2>SOMOS RECRUTAS</h2>
            <h2>SOMOS RECRUTAS</h2>
        </div>
        <div id="estamos-prontos">
            <h2>ESTAMOS PRONTOS PARA COMEÇAR</h2>
        </div>
    </div>
</section>
<section id="section-2">
    <br><br>
    <h2>INSCRIÇÕES</h2>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="mobile col col-lg-6 col-md-12 col-sm-12">
                <p>
                    Preencha o formulário e espere por uma mensagem nossa a confirmar o estado da sua inscrição, bem
                    como uma
                    brochura com mais detalhes.
                </p>
            </div>
            <div class="line col col-lg-1">
                <img src="../../../assets/inscricoes/line.jpeg" alt="line">
            </div>
            <div class="col col-lg-5 col-md-12 col-sm-12">
                <div id="form">
                    <h2>Formulário</h2>
                    <br><br>
                    <a target="blank" href="https://form.jotform.com/201935340865053"><button>Preencher
                            Formulário</button></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-6" style="text-align: center;">
                <img id="desafiate" src="../../../assets/inscricoes/desafia-te.jpeg" alt="desafia-te">
            </div>
            <div class="line col col-lg-1">
                <br><br>
                <img src="../../../assets/inscricoes/line.jpeg" alt="line">
            </div>
        </div>
    </div>
    <div>

    </div>
</section>
<br>
<div class="orange">
    <br><br><br><br><br>
</div>
<app-footer></app-footer>