<nav>
    <a href="/"><img src="../../../assets/logo.png" alt="logo"></a>
    <div>
        <i (click)="openNav()" class="bi bi-list"></i>
    </div>
</nav>

<div id="menu">
    <div id="inner">
        <div id="links">
            <i id="close" (click)="closeNav()" class="bi bi-x-lg"></i>
            <img id="menu-img" src="../../../assets/nav/menu.png" alt="menu">
            <br>
            <div id="align-left">
                <a href="/">HOME</a>
                <br><br><br>
                <a href="/sobre">A RECRUTA</a>
                <br><br><br>
                <a href="/inscricoes">INSCRIÇÕES</a>
                <br><br><br>
                <a class="pointer" (click)="transformacoes()" href="/sobre#transformacoes">TRANSFORMAÇÕES</a>
                <br><br><br>
                <a class="pointer" (click)="contactos()">CONTACTOS</a>
                <div id="mobile-insta">
                    <br><br><br>  
                    <h2>JUNTA-TE AO EXÉRCITO</h2>
                    <br>
                    <a href="https://www.instagram.com/recruta__">
                        <p><i class="bi bi-instagram"></i> recruta__</p>
                    </a>
                </div>

            </div>
        </div>
        <div id="insta">
            <h2>JUNTA-TE AO EXÉRCITO</h2>
            <br><br>
            <img src="../../../assets/nav/nav.jpeg" alt="insta">
            <br>
            <a href="https://www.instagram.com/recruta__">
                <p><i class="bi bi-instagram"></i> recruta__</p>
            </a>
        </div>
    </div>
</div>